body {
    background-color: #f7f7f7;
}

body > div, body > div > div, body > div > div > div.login-page {
    height: 100%;
}

.startBtn {
    margin-top: 14px !important;
}

.gameTitle {
    font-size: 3em !important;
}

